#nav button {
	background-color: #836460;
	color: white;
}

#nav button:hover {
	background-color: #321600;
}
#nav  {
	background: #867979;
	padding: 0.5em;
}

#list {
	background: url(hA26.jpg);
	height: 100%;
	font-family: 'Lato', sans-serif;
}

#show {
	background: rgba(0,0,0,0.5);
	border-radius: 18px;
}

#show ul li {
	list-style-type: none;
}

#show ul li a {
	color: white;
	font-size: 1.5em;
}

#show ul li a:hover {
	text-decoration: none;
	font-size: 1.8em;
}

footer li {
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}

footer {
	margin-top: 20px;
}

footer li a {
	color: white;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}

footer a:hover {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

#social a:hover {
	border: 4px solid white;
	border-radius: 18px;
}